<div class="container">
    <p class="h2">Hello world! This is View 1.</p>
    <div class="container">
        Name:
        <label>
            <input type="text" data-ng-model="name"/> {{ name }}
        </label>

        <ul>
            <li data-ng-repeat="cust in customers | filter:{name:name} | orderBy:'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase }}</li>
        </ul>
        <br/>
        Costumer Name:
        <input type="text" data-ng-model="newCustomer.name">
        <br/>
        Costumer City:
        <input type="text" data-ng-model="newCustomer.city">
        <button data-ng-click="addCustomer()">Add Customer</button>
        <br>
        <a href="#view2">View 2</a>
    </div>
</div>
